nav {
    position: fixed;
    top: 0;
    background: var(--main-colour);
    height: 75px;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--disabled-colour);
}

nav .home img {
    width: 7vw;
    margin-left: 100px;
}

nav .buttons {
    flex-direction: row;
    width: 30%;
    margin-right: 100px;
}