.contact {
    height: max-content;
    overflow: hidden;
    position: relative;
    flex-direction: column; 
}

.contact .contact-me {
    background: white;
    width: 80vw;
    height: auto;
    padding: 40px;
    border-radius: var(--standard-radius);
    flex-direction: column;
}

.contact .contact-me .default-button svg {
    margin-right: 5px;
}

.contact .contact-me .default-button {
    color: var(--text-colour);
    border-color: #25D366;
    margin: 10px 0 0 0;
    background: #25D366;
    width: 60%;
}

.contact .contact-me .default-button:hover {
    background: #075E54;
    border-color: #075E54;
    color: var(--main-colour);
}

footer {
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin: 40px 0;
}

footer .social-media { 
    flex-direction: row;
    margin-bottom: 20px;
}

footer .social-media a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

footer .social-media a svg {
    font-size: 1.35rem;
    transition: all 0.3s ease;
}

footer .social-media a svg:hover {transform: translateY(-5px)}

footer .text {
    flex-direction: row;
    font-size: 0.9rem;
    font-family: var(--text-font);
}

footer .text svg {
    margin-right: 5px;
    font-size: 1rem;
}