.backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
  
.backdrop .temp {
    position: absolute;
    background: transparent;
    inset: 0;
}

.filter-page {
    background: white;
    height: 90vh;
    width: 50%;
    z-index: 3;
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    animation: enter 0.3s linear;
}

.filter-page .close {
    position: absolute;
    top: 20px; 
    right: 20px;
}

.filter-page .close svg {font-size: 1.5rem}

.filter-page .choices {
    margin: 50px 0 0 50px;
    width: 85%;
}

.filter-page .complete {
    width: 100%;
    margin-bottom: 50px;
}

.filter-page .complete svg {margin: 5px}
.filter-page .complete button {margin-left: 10px}

@keyframes enter {
    0% {transform: translateX(50%)} 
    100% {transform: translateX(0)}
}