@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@400;500;700&display=swap');

* {
  padding: 0; 
  margin: 0;
  font-size: 16px;
}

#root {position: relative}
html {scroll-behavior: smooth}

:root {
  --main-colour: #f2f2f2; 
  --disabled-colour: #aaabb8; 
  --primary-colour: #0081a0; 
  --text-colour: black;
  --title-font: 'Amaranth', sans-serif;
  --text-font: 'Open Sans', sans-serif;
  --standard-radius: 8px;
}

img {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  object-fit: cover;
}

.default-text {
  font-family: var(--text-font);
  font-size: 1.3rem;
  color: var(--text-colour);
}

.default-title {
  font-family: var(--title-font);
  font-size: 3.5rem;
  color: var(--primary-colour);
}

.default-button {
  padding: 10px 20px;
  text-decoration: none;
  background: var(--main-colour);
  border-radius: var(--standard-radius);
  color: var(--primary-colour);
  font-size: 1.1rem;
  font-family: var(--text-font);
  border: 1px solid var(--primary-colour);
  cursor: pointer;
}

.default-button:hover {
  background: transparent;
  color: var(--text-colour);
  border-color: var(--text-colour);
}

.default-button:active {transform: scale(0.9)}

.flex-center-center { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end-end { 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-center-around { 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-center-end { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  background: var(--main-colour);
  position: relative;
  overflow: hidden;
}

.gay-grid { 
  width: 80%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  grid-auto-rows: 350px;
  gap: 1rem 5rem;
  margin-bottom: 50px;
  justify-content: center;
}

@media screen and (max-width: 1200px) { 
  .gay-grid { 
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 300px;
    gap: 1rem 3rem;
  }
}

@media screen and (max-width: 1025px) { 
  :root {font-size: 15px}

  .gay-grid { 
    width: 90%;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: 250px;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) { 
  :root {font-size: 14px} 
}
